@font-face {
  font-family: 'CircularStd';
  src: url('./fonts/CircularStd-Book.eot');
  src: url('./fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'), 
    url('./fonts/CircularStd-Book.woff') format('woff'), 
    url('./fonts/CircularStd-Book.ttf') format('truetype'), 
    url('./fonts/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('./fonts/CircularStd-Medium.eot');
  src: url('./fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'), 
    url('./fonts/CircularStd-Medium.woff') format('woff'), 
    url('./fonts/CircularStd-Medium.ttf') format('truetype'), 
    url('./fonts/CircularStd-Medium.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('./fonts/CircularStd-Bold.eot');
  src: url('./fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'), 
    url('./fonts/CircularStd-Bold.woff') format('woff'), 
    url('./fonts/CircularStd-Bold.ttf') format('truetype'), 
    url('./fonts/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-family: 'CircularStd';
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}

html, #root, body {
  height: 100%;
  background-color: #F8F8F8;
}

.Heading {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(32,33,37,0.5);
  height: 50px;
}

.App {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.WidgetBoxMargin {
  margin: 15px 30px;
}

.WidgetBox {
  width: 329px;
  border: solid 1px rgba(32,33,37,0.08);
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(32,33,37,0.08);
}

.icono-clock {
  color: rgba(32,33,37,0.42);
  width: 20px;
  height: 20px;
  margin-right: 15px;
  margin-top: 0px;
}

.icono-clock::after{
  width: 6px;
}s

.icono-clock::before{
  height: 7px;
}

h3 {
  font-family: 'CircularStd';
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin: 10px 10px 10px 0px;
}

p {
  font-family: 'CircularStd';
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 3px 0px 3px 0px;
}

p.closed {
  color: rgba(32,33,37,0.42);
}

.DayRow {
  min-height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(32,33,37,0.08);
}

.DateWrapper {
  display: flex;
}


h4 {
  font-family: 'CircularStd';
  font-size: 12px;
  line-height: 22px;
  color: #57cc14;
  font-weight: 600;
  margin-top: 17px;
  margin: 10px 10px 10px 0px;
}

#FileUpload {
  display:none;
}

.CustomButton {
  font-family: 'CircularStd';
  border: 1px solid #4cae4c;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #5cb85c;
  color: #ffffff;
  border-radius: 4px;
}

.UploadForm {
  margin-bottom: 20px;
}

.EmptySchedule {
  font-family: 'CircularStd';
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 40px;
  color: rgba(32,33,37,0.42);
}